%html
  %head
    %title
      Google In The Gaps
    %link{"rel" => "stylesheet", "href" => "style.css", "type" => "text/css"}
  %body
    .header
      %h1 Google In The Gaps
      %form{:action => "/", :method => "post"}
        %input#q{:name => 'q', :value => params[:q]}
    .main
      - if @results.empty?
        .info
          Currently, there are no results.
      - else
        %ul
          - @results.each do |line|
            %li
              - line.each do |part|
                - case part
                - when GapQuery::Placeholder
                  %span.gap= part.to_s
                - else
                  %span= part
    .footer
      .info
        %p this is a pet project by #{'<a href="http://fronx.wurmus.de/">fronx</a>'}.
        %p you should fork his #{'<a href="https://github.com/fronx/google-in-the-gaps">code</a>'}.
    :javascript
      document.getElementById('q').focus();
